<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="angebotestyle.css">
        <title>Spring Boot Projekt-Angebote bearbeiten</title>
    </head>
    <body>
        <h1 th:text="#{braten.headline}">Neuen Braten anlegen</h1>
        <form th:action="@{/braten/angebot/neu}" th:method="POST" th:object="${angebotform}">

            <!--<label th:text="#{anbieter}">Anbieter</label>
            <input type="text" name="name" id="name" th:field="*{name}" th:errorclass="errortext" class="input"/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errortext">Name falsch</label><br/>-->

            

            <label th:text="#{ort}">Abholort</label> <input type="text" th:field="*{abholort}" th:errorclass="errortext" class="input"/>
            <label th:if="${#fields.hasErrors('abholort')}" th:errors="*{abholort}" class="errortext">Name falsch</label><br/>

            <label th:text="#{beschreibung}">Beschreibung</label><input type="text" th:field="*{beschreibung}" th:errorclass="errortext" class="input"/>
            <label th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" class="errortext">Name falsch</label><br/>

            <label th:text="#{haltbar}">Haltbar bis</label> <input type="date" th:field="*{haltbarbis}" th:errorclass="errortext" class="input"/>
            <label th:if="${#fields.hasErrors('haltbarbis')}" th:errors="*{haltbarbis}" class="errortext">Name falsch</label><br/>

            <label th:text="#{veggi}">Vegetarizität</label>
            <select name="veg" size="1" th:field="*{vgrad}">
                <option th:value="0">0%</option>
                <option th:value="25">25%</option>
                <option th:value="50">50%</option>
                <option th:value="75">75%</option>
                <option th:value="100">100%</option>
            </select>
            <label th:if="${#fields.hasErrors('vgrad')}" th:errors="*{vgrad}" class="errortext">Name falsch</label><br/>

            <br/>
            <input type="submit" name="Abschicken"/>
            
            <input type="hidden" th:field="*{id}" th:errorclass="errortext" class="input"/>
            <input type="hidden" th:field="*{version}" th:errorclass="errortext" class="input"/>
        </form>

    </body>


</html>