<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/resources/static/angebote/angebotestyle.css">
        <title>Spring Boot Projekt-Angebote bearbeiten</title>

    <body>
        <h1>Braten erfassen und bearbeiten</h1>
        <form th:action="@{/angebote}" th:method="POST" th:object="${angebotform}">
            <label>Anbieter: <input type="text" th:field="*{name}" th:errorclass="angebote-style" class="input"/></label>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errortext">Name falsch</label><br/>

            <label>Abholort: <input type="text" th:field="*{abholort}"/></label>
            <label th:if="${#fields.hasErrors('abholort')}" th:errors="*{abholort}">Name falsch</label><br/>

            <label>Beschreibung: <input type="text" th:field="*{beschreibung}"/></label>
            <label th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Name falsch</label><br/>

            <label>Haltbar bis: <input type="date" th:field="*{haltbarbis}"/></label>
            <label th:if="${#fields.hasErrors('haltbarbis')}" th:errors="*{haltbarbis}">Name falsch</label><br/>

            <label>Vegetarizität<select name="veg" size="1" th:field="*{vgrad}">
                <option th:value="0">0%</option>
                <option th:value="25">25%</option>
                <option th:value="50">50%</option>
                <option th:value="75">75%</option>
                <option th:value="100">100%</option>
            </select></label>
            <br/>
            <input type="submit" name="Abschicken"/>
        </form>

    </body>
</head>

</html>